@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
}


.header {
    background-color: rgba(255, 219, 232, 1);
    
    height: 600px;
    font-family: 'Roboto', sans-serif;
}

.navbar {
    flex-direction: row;
    justify-content: space-around;
    margin-left: 50%;
    width: 611px;
    height: 17px;
    display: flex;
    list-style-type: none;
    font-size: 17px;
    line-height: 100px;
    letter-spacing: 0.1em;
    font-weight: bold;
    color: #554F4F;
}

a {
    text-decoration: none;
    color: #554F4F;
}

a:visited {
    color:#554F4F;
}

a:hover {
    color: #000;
}

.block-header {
    margin-left: 50%;
    margin-top: 150px;
    height: 45px; 
    color: #554F4F;
}

.about-page {
    position: relative;
    bottom: 200px;
    left: 50%;
    width: 434px;
    height: 134px;
    font-size: 17px;
    line-height: 26px;
    color: #727272;
}

.laptop {
    position: relative;
    left: 23%;
    bottom: 50px;
    height: 200px;
    
}

@media screen and (max-width: 1500px) {
    .laptop {
        position: relative;
        left: 5%;
    }
}

.text-me-button {
    position: relative;
    width: 225px;
    height: 65px;
    left: 50%;
    bottom: 170px;
    cursor: pointer;
    background-color: #727272;
    border: none;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}

.text-me-button:hover {
   background-color:#554F4F;
}

.about-me {
    position: relative;
    width: 700px;
    height: 168px;
    left: 30%;
    top: 140px; 
    font-family: 'Roboto', sans-serif;
    
}

.about-me-header {
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    color: #554F4F;
}

.about-me-text {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #727272;
}

.about-projects {
    position: relative;
    width: 100%;
    height: 250px;
    top: 250px;    
    background-color: rgba(255, 219, 232, 1);
}

.p-heart {
    position: relative;
    width: 147px;
    left: 32%;
    top: 80px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    color: #554F4F;
}

.heart-img {
    position: relative;
    width: 100px;
    height: 87.12px;
    left: 24%;
    
}

.p-stars {
    position: relative;
    width: 196.23px;
    left: 70%;
    bottom: 87px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    color: #554F4F;

}

.stars-img {
    position: relative;
    width: 80px;
    height: 87.12px;
    left: 63%;
    bottom: 168px;
}


.skills {
    position: relative;
    width: 395px;
    height: 397px;
    left: 20%;
    top: 500px;
}

.skills-header {
    position: absolute;
    width: 470.01px;
    height: 29.98px;
    bottom: 450px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    color: #727272;
}

.cat-avatar {
    position: relative;
    width: 300px;
    height: 397px;
    left: 650px;
    bottom: 300px;
}

.working-process {
    position: relative;
    top: 500px;
    background-color: rgba(255, 219, 232, 1);
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding-top: 100px;
    
}

.working-process h2 {
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    color: #554F4F;
}

.working-process p {
    /* position: relative;
    left: 30%;
    top: 40px; */
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 30px;
    margin-left: 32%;
    padding-top: 30px;
    width: 540px;
    text-align: center;
    color: #727272;
}

.video-work {
    margin-bottom: 80px;
    width: 750px;
    height: 450px;
}

.portfolio {
    width: 100%;
}

.portfolio img {
    position: relative;
    top: 700px;
    left: 5px;
    margin: -4px;
    width: 510px;
}

.contact-form {
    position: absolute;
    top: 4100px;
    width: 100%;
    height: 800px;
    background-color: rgba(255, 219, 232, 1);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: #727272;
    text-align: center;
    
}

.contact-form h2 {
    position: relative;
    top: 100px;
    right: 5px;
    margin-bottom: 40px;
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
    color: #554F4F;

}

.contact-form p {
    position: relative;
    top: 150px;
    left: 485px;
    width: 540px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
}


#username  {
    position: relative;
    top: 50px;
    left: 357px;
    width: 255px;
    height: 50px;
    border: none;
    text-indent: 10px;
}

#username:focus {
    outline-color: #b4b3b3;
}

#user-email {
    position: relative;
    top: 50px;
    left: 385px;
    width: 255px;
  height: 50px;
  border: none;
  background-color: #FCFDFD;
  text-indent: 10px;
}

#user-email:focus {
    outline-color: #b4b3b3;
}

#user-message {
    position: relative;
    top: 270px;
    right: 160px;
    width: 542px;
    height: 175px;
    border: none;
    resize: none;
    text-indent: 10px;
    padding-top: 10px;
}

#user-message:focus {
    outline-color: #b4b3b3;
}

.submit-button {
    position: relative;
    top: 350px;
    right: 528px;
    width: 190px;
    height: 55px;
    border: none;
    background-color: #F40887;
    color: #FCFDFD;
    cursor: pointer;
    text-transform: uppercase;
}

.submit-button:hover {
    background-color: #fe2599;
}

.footer {
    position: relative;
    top: 1700px;
    height: 120px;
    
    background: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    padding-top: 30px;
    padding-left: 150px;
}

.footer h3 {
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    color: #B6ABAD;
}

.footer p {
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: #B6ABAD;
}